<% layout("./boilerplate.ejs") %>
    <h1 class="mb-3 text-center">Login</h1>
    <main class="container">
        <div class="w-50 p-3 mx-auto">
            <form action="/login" method="post" class="validated-form" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>

                <button class="mb-3 btn btn-primary" type="submit">Login</button>
            </form>
        </div>
    </main>