<% layout('./boilerplate.ejs') %>

    <div class="background">
        <h1 class="text-center pt-3">Welcome YelpCamp!</h1>
        <main class="container">
            <h2 class="text-center mt-3">This is my own CRUD application. It is inspired by the popular user review web
                application, YelpCamp.
                The function of this application is to help campers find a suitable campground for their adventures.
                Let's get started!
            </h2>
            <div class="mt-3">
                <p>1. Register for an account and login</p>
                <p>2. If you want to post your own campground up for reviews, simply go to 'New Campground' and fill up
                    the
                    form.</p>
                <p>3. If you want to leave reviews on another campground, simply go to campgrounds and find for the
                    campground
                    you are looking for.</p>
            </div>

        </main>
    </div>